* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 0;
        /* Set margin to 0, or adjust to what works for you */
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        /* Ensure content fits */
        overflow: visible;
    }

    .container {
        width: 100%;
        height: auto;
        /* Ensure container fits content */
        page-break-inside: avoid;
        /* Avoid page breaks inside containers */
    }

    .left-column,
    .right-column {
        width: 100%;
        /* Ensure columns fit the page width */
        float: none;
        /* Ensure columns don’t float */
        overflow: visible;
        /* Ensure content is not clipped */
    }

    .interests,
    .links,
    .contact-info,
    .skills,
    .all-languages,
    .experience,
    .education {
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .buttons {
        display: none;
    }
}

.left-column,
.right-column {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.left-column::-webkit-scrollbar,
.right-column::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    font-family: Roboto, sans-serif;
    justify-content: center;
    display: flex;
}

button {
    padding: 0.5vw 0.5vw;
}

.container {
    display: flex;
    width: 100vw;
    max-width: 100%;
}

.left-column {
    width: 30%;
    background-color: black;
    color: white;
    padding: 5vw;
    text-align: right;
}

.right-column {
    width: 70%;
    background-color: white;
    color: black;
    padding: 5vw;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
p {
    margin-bottom: 1vw;
}

h1 {
    font-size: 5vw;
}

h2 {
    margin-top: 10vw;
    font-size: 2.25vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1.125vw;
    font-weight: 500;
}

p {
    margin-top: 1vw;
    font-size: 1.125vw;
}

a {
    text-decoration: none;
    color: black;
}

.left-column a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.links {
    font-size: 1.125vw;
}

/* .social-icon {
    display: flex;
    margin-bottom: 4vw;
}

.social-icon img {
    width: 3.33vw;
    margin-right: 1.5vw;
    margin-left: 50%;
}

.social-icon p {
    width: 100%;
    padding-top: 1vw;
} */

.left-column h2 {
    padding-top: 7vw;
}

.all-languages {
    display: flex;
}

.speaking-languages {
    width: 35vw;
}

.programming-languages {
    width: 65vw;
}

.language-individual {
    display: flex;
}

.language-individual .text {
    width: 50vw;
}

.language-individual p {
    font-weight: 300;
}

.programming-languages h2 {
    padding-left: 5vw;
}

.programming-skills {
    width: 100%;
    margin-bottom: 3vw;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vw;
}

.skill-name {
    width: 25vw;
    text-align: right;
    margin-right: 2vw;
    font-weight: bold;
}

.progress-bar {
    flex-grow: 1;
    background-color: #e0e0e0;
    height: 2.5vh;
    overflow: hidden;
    border-radius: 50px;
}

.progress {
    height: 100%;
    background-color: #000000;
    border-radius: 50px 0 0 50px;
}

.experience p {
    font-weight: 300;
}

.text {
    margin-bottom: 3vw;
    text-wrap: pretty;
}

.right-column .text {
    border-left: 0.4vw solid #000;
    padding-left: 2vw;
}

.projects h3 {
    margin-top: 3vw;
    font-weight: 500;
}

.projects h4 {
    margin-top: 3vw;
    margin-bottom: -1vw;
    font-weight: 700;
    font-size: 1vw;
}

.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    margin-top: 8vw;
    border: 1vw white solid;
}

.profile-picture img {
    padding: 1vw;
    width: 100%;
}

.contact-info {
    margin-bottom: 3vw;
}