* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media print {
    @page {
        size: 420mm 594mm;
        margin: 0;
    }
    body{
        --color-bg-left: white;
        --color-bg-right: white;
        --color-primary-left: black;
        --color-primary-right: black;
        --color-bars-primary: black;
        --color-bars-secondary: #b6b6b6;
        --left-column-border: 0.3vw solid black;
    }
    
    .interests,
    .links,
    .contact-info,
    .skills,
    .all-languages,
    .experience,
    .education, 
    .projects {
        page-break-before: auto;
        page-break-inside: avoid;
    }

    button {
        display: none;
        visibility: hidden;
    }
    
}

[prefers-color-scheme="light"] {
    --color-bg-left: black;
    --color-bg-right: white;
    --color-primary-left: white;
    --color-primary-right: black;
    --color-bars-primary: black;
    --color-bars-secondary: #b6b6b6;
    --left-column-border: 0.3vw solid #888;
}
  
[prefers-color-scheme="dark"] {
    --color-bg-left: #101010;
    --color-bg-right: #363636;
    --color-primary-left: #eee;
    --color-primary-right: white;
    --color-bars-primary: white;
    --color-bars-secondary: #292929;
    --left-column-border: 0.3vw solid var(--color-primary-left);

}

.left-column,
.right-column {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.left-column::-webkit-scrollbar,
.right-column::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    font-family: Roboto, sans-serif;
    justify-content: center;
}

button {
    padding: 5px 10px 5px 10px;
    margin-top: -80px;
}

.content {
    display: flex;
}

.left-column {
    background-color: var(--color-bg-left);
    color: var(--color-primary-left);
    border-right: var(--left-column-border);
    padding: 3vw;
    text-align: right;
}

.right-column {
    background-color: var(--color-bg-right);
    color: var(--color-primary-right);
    padding: 3vw;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin-bottom: 10px;
}

h1 {
    font-size: 56pt;
}

h2 {
    margin-top: 100px;
    font-size: 28pt;
}

h3 {

    font-size: 18pt;
}

h4 {
    font-size: 14pt;
    font-weight: 500;

}

p {
    margin-top: 10px;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: var(--color-primary-right);
}

.left-column a {
    color: var(--color-primary-left);
}

a:hover {
    opacity: 0.8;
}

.links div {
    margin-bottom: 25px;
}

.links #github {
    margin-left: 30px;
}

.links #linkedin {
    margin-left: 20px;
}

.left-column h2 {
    padding-top: 50px;
}

.about-me {
    margin-bottom: -60px;
}
.all-languages {
    margin-bottom: -60px;
}

#programming-languages .languages {
    text-align: right; 
  }

.language-individual {
    display: flex;
}

.language-individual .text {
    width: 50%;
}

.language-individual p {
    font-weight: 300;
}

#programming-languages h2{
    margin-left: 8rem;
}

.programming-skills {
    width: 100%;
    margin-bottom: 30px;
}


.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.skill-name {
    width: 6vw;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

#programming-languages .table {
    --bs-table-color: var(--color-primary-right);
    --bs-table-bg: var(--color-bg-right);
}
.progress-bar {
    flex-grow: 1;
    background-color: var(--color-bars-secondary);
    height: 25px;
    overflow: hidden;
    border-radius: 50px;
}

.progress {
    height: 100%;
    background-color: var(--color-bars-primary);
    border-radius: 50px 0 0 50px;
}

.experience p {
    font-weight: 300;
}


.text {
    margin-bottom: 30px;
    text-wrap: pretty;
}

.right-column .text {
    border-left: 4px solid var(--color-primary-right);
    padding-left: 20px;
}

.projects h3 {
    margin-top: 30px;
    font-weight: 500;
}

.projects h4 {
    margin-top: 30px;
    margin-bottom: -10px;
    font-weight: 700;
    font-size: 1rem;
}

.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 80px;
    padding: 0.5vw;
    border: 0.5vw var(--color-primary-left) solid;
}

.profile-picture img {
    width: 100%;
}

.contact-info {
    margin-bottom: 30px;
}
.projects{
    margin-top: 120px;
}